<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid sticky-top ">
    <div class="row" style="height: 110px ;background-image: -webkit-linear-gradient(right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%), url('../img/unnamed.jpg')" >
        <div class="col-2 mt-4" style="left: 30px">
            <img src="../img/te2qSRH8.jpg" height="60%" width="60%"/>
        </div>
        <div class=" col-8"></div>
        <div class="col-2" style="margin-top:20px ">
            <div sec:authorize="!isAuthenticated()">
            <a href="/login"> LOGIN </a>
                </div>
            <div sec:authorize="isAuthenticated()">
                <span sec:authentication="name" style="color: red">Username</span>
                <br>
                <a href="/logout">LOG OUT</a>
            </div>
        </div>
    </div>
</div>



<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="#"><strong>Tuan Pro</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse col-11" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/employees">Employee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customers">Customer</a>
            </li>
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="/services">Service</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="/contracts">Contract</a>-->
<!--            </li>-->

        </ul>

    </div>
</nav>
<div class="container ">
    <div class="row">
        <div class="col-3" style="background: #33b5e5; height: 300px" >


        </div>
        <div class="col-9" style="background: #34ce57; height: 300px ">


        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12" style="background: #777777; height: 100px ">
            <strong>Footer</strong>
        </div>
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>