<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/login}" method="post">
    <p th:if="${param.error}" style="color: red"> sai roi</p>

    <p>email</p>
    <input type="text" name="email" placeholder="email" >
    <p>password</p>
    <input type="text" name="password" placeholder="password">
    <p>Remember Me: <input type="checkbox" name="remember-me" /></p>

    <br>
    <input type="submit" value="login">
</form>
</body>
</html>