<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-customer">Create new customer</a>
<h1>Customers</h1>


<h1 th:text="#{message}" style="color: red"></h1>
<a href="/customers?lang=vi">VI</a>||<a href="/customers?lang=en">EN</a>||<a href="/customers?lang=en_CA">EN_CA</a>
<hr>
<form>
    Search by first name:
    <input name="search" type="text"/>
    <input type="submit" value="Search"/>
</form>
<table border="1">
    <tr>
        <th th:text="#{firstname}"></th>
        <th th:text="#{lastname}"></th>
        <th th:text="#{province}"></th>
        <th th:text="#{edit}"></th>
        <th th:text="#{delete}"></th>
    </tr>
    <th:block th:each="customer : ${customers}">
        <tr>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td th:if="${customer.province}" th:text="${customer.province.name}"></td>
            <td th:unless="${customer.province}"></td>
            <td><a th:href="@{/edit-customer/__${customer.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-customer/__${customer.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>

<div>
    <a th:href="@{'/customers'(page=${customers.number - 1},search=${searchController})}" th:if="${customers.hasPrevious()}">Previous</a>
    <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
    <a th:href="@{'/customers'(page=${customers.number + 1},search=${searchController})}" th:if="${customers.hasNext()}">Next</a>
</div>
</body>
</html>
