<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Category list</h1>

<p><a href="/categories/create">create new category</a></p>

<table>

    <thead>
    <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>

    </tr>
    </thead>
    <tbody>
    <th:block th:each="category : ${categoryList}" >
        <tr>
            <td th:text="${category.name}"></td>
            <td><a th:href="@{/categories/edit/__${category.id}__}">edit</a></td>
            <td><a th:href="@{/categories/delete/__${category.id}__}">delete</a></td>
            <td><a th:href="@{/categories/showPost/__${category.id}__}">showPost</a></td>

        </tr>
    </th:block>
    </tbody>
</table>

<div>
    <a th:href="@{'/categories'(page=${categoryList.number - 1})}" th:if="${categoryList.hasPrevious()}">Previous</a>
    <span th:text="${categoryList.number + 1}"></span>/<span th:text="${categoryList.totalPages}"></span>
    <a th:href="@{'/categories'(page=${categoryList.number + 1})}" th:if="${categoryList.hasNext()}">Next</a>
</div>

</body>
</html>