<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Blog list</h1>

<p><a href="/create">create new blog</a></p>

<table>

    <thead>
    <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="blog : ${blogList}" >
        <tr>
            <td th:text="${blog.name}"></td>
            <td><a th:href="@{detail/__${blog.id}__}">details</a></td>
            <td><a th:href="@{edit/__${blog.id}__}">edit</a></td>
            <td><a th:href="@{delete/__${blog.id}__}">delete</a></td>
        </tr>
    </th:block>
    </tbody>
</table>

</body>
</html>