<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 th:text="'bill_id: '+ ${bill.id}"></h1>
<table>
    <thead>
    <tr>
        <th>name product</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="pb : ${productsInBill}" >
        <tr>
            <td th:text="${pb.product.name}"></td>
        </tr>
    </th:block>
    </tbody>
</table>

<h2 th:text="'date: '+ ${bill.date}"></h2>

</body>
</html>