<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Product list</h1>

<p><a href="/product/create-product">create new product</a></p>

<form>
    <p><input type="text" name="search"><input type="submit" value="search"></p>
</form>
<table border="1">

    <thead>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>detail</th>
        <th>edit</th>
        <th>delete</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="product : ${products}" >
        <tr>
            <td th:text="${product.name}"></td>
            <td th:if="${product.category}" th:text="${product.category.name}"></td>
            <td th:unless="${product.category}"></td>
            <td><a th:href="@{/product/detail-product/__${product.id}__}">detail</a></td>
            <td><a th:href="@{/product/edit-product/__${product.id}__}">edit</a></td>
            <td><a th:href="@{/product/delete-product/__${product.id}__}">delete</a></td>

        </tr>
    </th:block>
    </tbody>
</table>

<div>
    <a th:href="@{'/product'(page=${products.number - 1})}" th:if="${products.hasPrevious()}">Previous</a>
    <span th:text="${products.number + 1}"></span>/<span th:text="${products.totalPages}"></span>
    <a th:href="@{'/product'(page=${products.number + 1})}" th:if="${products.hasNext()}">Next</a>
</div>

</body>
</html>