<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/blogs/edit}" th:object="${blog}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <p>Name</p>
    <input type="text" th:field="*{name}">
    <p>Content</p>
    <textarea rows="4" cols="50" th:field="*{content}">
    </textarea>
    <p>Category</p>
    <select th:field="*{category}">
        <option th:each="p : ${categoryList}" th:value="${p.id}" th:text="${p.name}"></option>
    </select>

    <input type="submit" value="edit">

</form>
</body>
</html>